.Footer {
	background-color: #D89FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	height: 100%;
	width: 100%;

	background-image: url("../../../Assets/Img/wooden-background.png");
	/* The image used */
	background-position: center;
	/* Center the image */
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: 85% 100%;

}