.Main {
    background-color: aqua;

    background-image: url("../../../Assets/Img/market-stall-midle-part-v3.png"); /* The image used */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 90% 100%;
}