.Main {
    background-color: aqua;

    background-image: url("../../../Assets/Img/market-stall-midle-part-v3.png"); /* The image used */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 90% 100%;

    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: repeat(12, 1fr);
}

.Main > .Routing{
    grid-column-start: 3;
    grid-column-end: 11;
}

.Main > .Total {
    grid-column-start: 10;
    grid-column-end: 12;

    grid-row-start: 2;
}