.Header {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);

    z-index: 99;
    margin-bottom: -20px;
    padding-bottom: 40px;

    background-image: url("../../../Assets/Img/roof.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 90% 100%;
}

.Header>.Logo {
    grid-column-start: 2;
    grid-column-end: 2;
}

.Header>.Menu {
    grid-column-start: 4;
    grid-column-end: 10;
}

.Header>.AuthMenu{
    grid-column-start: 11;
    grid-column-end: 11;
}