.About {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: center;

        height: 100%;
        width: 100%;

        overflow-y: auto;

}

.About>.title {
        font-family: 'Fredericka the Great', cursive;
        font-size: 2vw;
}