.About {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
}

.About>.title {
        font-family: 'Fredericka the Great', cursive;
        font-size: 2vw;
}