.Home {
	    /* background-color: #C70A80; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        height: 100%;
        width: 100%;

}

.Home > h1 {
    font-family: Stag;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
}

.Home > p {
    font-size: 20px;
}
