.CouponItem {
  width: 25%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  margin: 5px;
  padding: 5px;

  background-image: linear-gradient(45deg, lightgreen, white);
}

.CouponItem img {
  width: auto;
  height: 136px;
  border-radius: 50%;
  border: 1px solid black;
  vertical-align: middle;

}

.CouponItem>div:nth-child(2) {
  margin-left: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}