.Total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    background: url("../../../Assets/Img/shopping-trolley.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.Total>.total_number {
    font-family: 'Water Brush', cursive;
    font-size: 1.5vw;

    background-color: rgba(21, 255, 0, 0.693);
    border: 2px solid rgb(215, 215, 215);

    border-radius: 50%;
    padding: 3px 13px;
}