.Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    border: 1px solid #0A84B9;
    border-radius: 50px;
    background-color: #2ca5d9;

    margin: 25px 0px;

}

.Menu>.CustomLink a {
    font-size: 1.7vw;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.Menu>.CustomLink>a:hover {
    color: #000;
}

.Menu>.CustomLink>a.active {
    border: 2px dashed #f6ff00;
    padding: 3px 15px;
    color: #f6ff00;
}