.Logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    font-family: 'Fredericka the Great', cursive;
    font-size: 2vw;
}

.Logo > img {
    margin: 10px;
    width: auto;
    height: 90%;
}